@{
    ViewData["Title"] = "Home Page";
}

<div id="home-cont" class="text-center">
    <h1 class="display-4" style="font-family: 'Anton', sans-serif;">Welcome to LDS Movies</h1>
    <p><a asp-controller="Movies" asp-action="Index">Find Your Next Family Flick Now</a></p>
</div>
