@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Home.cshtml";
}
<div class="tint p-2 pl-4 pr-4 mt-5 d-inline-block">
    <div class="d-inline">
        <h2>Contoso University | Administrative Application</h2>
        <p class="text-danger font-weight-bold">
            This application should be used by aproved personel and administrators only.<br />
            Use of this application by those not permited will result in disciplinary action.
        </p>
    </div>
</div>