@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="front-page" class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Start recording notes in <a asp-page="/JournalEntries/Index">your journal</a> now!</p>
</div>
