@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This website will not sell your data, it is secure. Cookies are used on this website to track state.</p>
